# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Generated reports
reports_output/*.txt
reports_output/*.csv

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/